<div
	class="absolute flex flex-col mt-4 py-1 w-full text-slate-600 rounded-lg border border-slate-200 bg-white z-50"
>
	<user-panel-form-item
		imageSrc="assets/icons-png/profile.png"
		text="Profile"
		[disabled]="true"
	></user-panel-form-item>

	<user-panel-form-item
		imageSrc="assets/icons-png/sessions.png"
		text="Sessions"
		[disabled]="true"
	></user-panel-form-item>

	<user-panel-form-divider></user-panel-form-divider>

	<user-panel-form-item
		imageSrc="assets/icons-png/exit.png"
		text="Exit"
		(onClick)="onExitClick()"
	></user-panel-form-item>
</div>
