<div
	class="absolute flex flex-col mt-4 py-1 w-full text-slate-600 rounded-lg border border-slate-200 bg-white z-50"
>
	<counter-panel-form-item
		imageSrc="assets/icons-png/profile.png"
		text="Profile"
		[disabled]="true"
	></counter-panel-form-item>

	<counter-panel-form-item
		imageSrc="assets/icons-png/sessions.png"
		text="Sessions"
		(onClick)="onClickOutput('sessions')"
	></counter-panel-form-item>

	<counter-panel-form-divider></counter-panel-form-divider>

	<counter-panel-form-item
		imageSrc="assets/icons-png/exit.png"
		text="Exit"
		(onClick)="onClickOutput('exit')"
	></counter-panel-form-item>
</div>
