<button
	*ngIf="category"
	type="button"
	class="flex gap-x-2 justify-start items-center py-1 px-2 text-base font-medium hover:bg-slate-200 rounded-md w-full transition-colors duration-150"
	(click)="onItemClick(category._id)"
	[style]="{
		color: category.color.colorHEX
	}"
	[ngClass]="{
		'bg-slate-200 cursor-default': choiced
	}"
>
	<div
		class="min-w-[0.5rem] max-w-[0.5rem] w-full h-2 rounded-full"
		[style]="{ background: category.color.colorHEX }"
	></div>
	<div
		class="text-left text-ellipsis overflow-hidden whitespace-nowrap"
		[innerHTML]="category.name | highlight : searchValue"
	></div>
	<span
		class="text-gray-400 font-normal text-sm max-w-[6rem] text-ellipsis overflow-hidden whitespace-nowrap"
	>
		{{ category.dimension }}
	</span>
</button>
