<div class="mt-10 flex flex-col items-center justify-start">
	<form
		class="py-4 px-6 flex flex-col gap-y-2"
		[formGroup]="addForm"
		(ngSubmit)="onSubmit()"
	>
		<div class="grid grid-rows-[auto_0.75fr_0.75fr_1fr]">
			<label
				for="add-form-count"
				class="ml-2 col-start-1 col-end-1 row-start-1 row-end-1 text-gray-400"
			>
				Count
			</label>

			<input
				id="add-form-count"
				class="rounded-tl-md col-start-1 col-end-3 row-start-2 row-end-4 border border-gray-400 text-gray-600 row-span-2 h-full w-full px-5 text-xl"
				type="number"
				formControlName="count"
			/>

			<input
				id="add-form-comment"
				class="px-4 py-2 text-gray-600 rounded-b-md col-start-1 col-end-3 row-start-4 row-end-4 -mt-[1px] w-full border border-gray-400"
				type="text"
				placeholder="Comment"
				formControlName="comment"
			/>

			<div class="col-start-3 col-end-3 row-start-1 row-end-1 text-gray-400">
				Category
			</div>

			<counter-category-select
				class="-ml-[1px] rounded-r-md col-start-3 col-end-3 row-start-2 row-end-4 order-2 border row-span-2 border-gray-400"
				[categories]="categories"
				formControlName="category"
				buttonClass="p-4"
			></counter-category-select>
		</div>

		<div class="ml-1">
			<button
				type="button"
				(click)="toggleAdditionalOptionsShow()"
				class="text-slate-500 text-sm flex gap-x-1 items-center px-2 py-1"
				[class.!text-slate-700]="additionalSettingsShow"
			>
				<svg-icon
					class="w-4 h-4"
					[class.rotate-90]="additionalSettingsShow"
					src="assets/icons/soft-arrow.svg"
				></svg-icon>
				Additional
			</button>

			<div
				*ngIf="additionalSettingsShow"
				class="ml-2 mb-2"
			>
				<div class="ml-1 rounded">
					<label
						class="flex items-center gap-x-1 text-sm text-gray-500 dark:text-gray-300"
					>
						<input
							type="checkbox"
							class="w-3 h-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
							[(ngModel)]="additinalOptions.doNotClearComment"
							[ngModelOptions]="{ standalone: true }"
						/>
						Do not clear comment
					</label>
				</div>
				<div class="ml-1 rounded">
					<label
						class="flex items-center gap-x-1 text-sm text-gray-500 dark:text-gray-300"
					>
						<input
							type="checkbox"
							class="w-3 h-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
							[(ngModel)]="additinalOptions.doNotClearCount"
							[ngModelOptions]="{ standalone: true }"
						/>
						Do not clear count
					</label>
				</div>
			</div>
		</div>

		<button
			type="submit"
			class="transition-all duration-200 rounded-md px-4 py-2 bg-green-500 text-white disabled:cursor-default disabled:bg-slate-300 disabled:text-gray-600 active:bg-green-400 shadow"
			[disabled]="addForm.value.category == undefined"
		>
			Add
		</button>
	</form>

	<counter-statistic-log></counter-statistic-log>
</div>
