<div class="mt-10 flex flex-col items-center justify-start">
	<form
		class="py-4 px-6 flex flex-col gap-y-3"
		[formGroup]="addForm"
		(ngSubmit)="onSubmit()"
	>
		<div class="grid grid-cols-3 grid-rows-[auto_0.75fr_0.75fr_1fr]">
			<label
				for="add-form-count"
				class="ml-2 col-start-1 col-end-1 row-start-1 row-end-1 text-gray-400"
			>
				Count
			</label>

			<input
				id="add-form-count"
				class="rounded-tl-md col-start-1 col-end-3 row-start-2 row-end-4 border border-gray-400 text-gray-600 row-span-2 h-full w-full px-5 text-xl"
				type="number"
				formControlName="count"
			/>

			<input
				id="add-form-comment"
				class="px-4 py-2 text-gray-600 rounded-b-md col-start-1 col-end-3 row-start-4 row-end-4 -mt-[1px] w-full border border-gray-400"
				type="text"
				placeholder="Comment"
				formControlName="comment"
			/>

			<div class="col-start-3 col-end-3 row-start-1 row-end-1 text-gray-400">
				Category
			</div>

			<counter-category-select
				class="-ml-[1px] rounded-r-md col-start-3 col-end-3 row-start-2 row-end-4 order-2 border row-span-2 border-gray-400"
				[categories]="categories"
				formControlName="category"
				buttonClass="p-4"
			></counter-category-select>
		</div>

		<button
			type="submit"
			class="transition-all duration-200 rounded-md px-4 py-2 bg-green-500 text-white disabled:cursor-default disabled:bg-slate-300 disabled:text-gray-600 active:bg-green-400 shadow"
			[disabled]="addForm.value.category == undefined"
		>
			Add
		</button>
	</form>

	<counter-statistic-log></counter-statistic-log>
</div>
