<header class="pt-10 flex gap-x-8 items-center">
	<a
		class="text-2xl text-pink-400 hover:text-pink-600 transition-colors"
		routerLink="/"
	>
		Counter
	</a>
	<nav>
		<ul class="flex gap-x-3">
			<li>
				<a
					class="text-gray-800 hover:text-sky-600 transition-colors"
					routerLink="/"
				>
					Home
				</a>
			</li>
			<li>
				<a
					class="text-gray-800 hover:text-sky-600 transition-colors"
					routerLink="/categories"
				>
					Categories
				</a>
			</li>
			<li>
				<a
					class="text-gray-800 hover:text-sky-600 transition-colors"
					routerLink="/statistic"
				>
					Statistic
				</a>
			</li>
		</ul>
	</nav>
</header>
