<header class="pt-8 flex justify-between">
	<div class="flex gap-x-8 items-center">
		<app-logo></app-logo>
		<app-menu class="h-full"></app-menu>
	</div>

	<div class="flex items-center">
		<div
			*ngIf="!userInfo || !userInfo.authorized"
			class="flex items-center gap-x-4"
		>
			<div class="text-gray-500">Not authorized</div>

			<div class="h-8 w-8 rounded-2xl bg-gray-200"></div>
		</div>

		<div
			*ngIf="userInfo && userInfo.authorized"
			class="flex items-center gap-x-4"
		>
			<div class="text-slate-800">{{ userInfo.name }}</div>

			<img
				class="max-h-8 rounded-2xl"
				[src]="userInfo.picture"
				alt="avatar"
			/>
		</div>
	</div>
</header>
