<div
	class="relative h-full flex flex-col transition-all"
	appClickedOutside
	(clickedOutside)="clickedOutside()"
>
	<div
		*ngIf="!userInfo || !userInfo.authorized"
		class="flex items-center gap-x-4"
	>
		<div class="text-gray-500">Not authorized</div>

		<div class="h-8 w-8 rounded-2xl bg-gray-200"></div>
	</div>

	<button
		(click)="onBadgeClick()"
		*ngIf="userInfo && userInfo.authorized"
		class="group/badge h-full pl-4 pr-2 py-2 flex items-center gap-x-4 rounded-l-3xl rounded rounded-r-[2rem] transition-all"
		[class]="{ 'bg-slate-100': isOpened }"
	>
		<div
			class="text-slate-800 group-hover/badge:text-sky-600 duration-300"
			[class]="{ 'group-hover/badge:text-pink-600': isOpened }"
		>
			{{ userInfo.name }}
		</div>

		<img
			class="group-hover/badge:scale-105 max-h-8 rounded-2xl transition-all duration-300"
			[src]="userInfo.picture"
			alt="avatar"
		/>
	</button>

	<div
		*ngIf="isOpened"
		class="absolute flex flex-col mt-14 py-1 w-full text-slate-600 rounded-lg border border-slate-200 bg-white z-50"
	>
		<button
			class="w-full py-1 px-4 text-left disabled:text-gray-400 enabled:hover:bg-slate-100 enabled:hover:text-sky-600 bg-white duration-300"
			disabled
		>
			Profile
		</button>
		<button
			class="w-full py-1 px-4 text-left disabled:text-gray-400 enabled:hover:bg-slate-100 enabled:hover:text-sky-600 bg-white duration-300"
			disabled
		>
			Sessions
		</button>

		<div class="w-full my-1 h-[1px] bg-slate-200"></div>

		<button
			(click)="onExitClick()"
			class="w-full py-1 px-4 text-left enabled:hover:bg-slate-100 enabled:hover:text-sky-600 bg-white duration-300"
		>
			Exit
		</button>
	</div>
</div>
