<form
	[formGroup]="formData"
	(ngSubmit)="onSubmitAddForm()"
	class="z-10 p-4 absolute mt-3 border border-gray-400 rounded-lg flex flex-col gap-y-5 shadow bg-white"
>
	<label class="flex gap-x-5 justify-between">
		Name
		<input
			formControlName="name"
			class="border border-gray-300 rounded"
			type="text"
		/>
	</label>
	<label class="flex gap-x-5 justify-between">
		Comment
		<input
			formControlName="comment"
			class="border border-gray-300 rounded"
			type="text"
		/>
	</label>

	<fieldset
		class="flex gap-x-3"
		*ngIf="colors"
	>
		<div
			class=""
			*ngFor="let color of sortedByOrderColors"
		>
			<input
				[value]="color._id"
				formControlName="color"
				[id]="'category-color-' + color._id"
				class="category-color-input absolute top-0 left-0 cursor-pointer opacity-0 w-0 h-0"
				type="radio"
				name="color"
			/>
			<label
				[for]="'category-color-' + color._id"
				class="category-color-label inline-block w-5 h-5 rounded-full border-gray-800"
				[style]="{ background: color.colorHEX }"
			></label>
		</div>
	</fieldset>

	<button
		type="submit"
		class="border py-2 rounded-md"
		[ngClass]="{
			'border-green-500 bg-green-100': formTypeIsAdd,
			'border-sky-500 bg-sky-100': formTypeIsEdit
		}"
	>
		{{ formTypeIsAdd ? 'Add' : 'Save' }}
	</button>
</form>
