<form
	[formGroup]="formData"
	(ngSubmit)="onSubmitAddForm()"
	class="z-20 p-4 absolute mt-3 border border-gray-400 rounded-lg flex flex-col gap-y-5 shadow bg-white"
>
	<label class="flex gap-x-5 justify-between items-center">
		Name
		<input
			formControlName="name"
			class="px-2 py-1 border border-gray-300 rounded"
			type="text"
			required
			[ngClass]="{
				'border-red-500':
					formName?.invalid && (formName?.dirty || formName?.touched)
			}"
		/>
	</label>
	<label class="flex gap-x-5 justify-between items-center">
		Comment
		<input
			formControlName="comment"
			class="px-2 py-1 border border-gray-300 rounded"
			type="text"
		/>
	</label>

	<label class="flex gap-x-5 justify-between items-center">
		Dimension
		<input
			formControlName="dimension"
			class="px-2 py-1 border border-gray-300 rounded"
			type="text"
		/>
	</label>

	<label class="flex gap-x-5 justify-between items-center">
		Mode
		<select
			required
			formControlName="mode"
			class="px-2 py-1 border border-gray-300 rounded w-[250px] bg-white text-slate-700"
		>
			<option value="number">Number</option>
			<option value="time">Time</option>
		</select>
	</label>

	<counter-color-select
		required
		formControlName="color"
	></counter-color-select>

	<button
		type="submit"
		class="border py-2 rounded-md"
		[ngClass]="{
			'border-green-500 bg-green-100': formTypeIsAdd,
			'border-sky-500 bg-sky-100': formTypeIsEdit
		}"
	>
		{{ formTypeIsAdd ? 'Add' : 'Save' }}
	</button>
</form>
