<app-statistic-chart
	*ngIf="statistics"
	[statistics]="statistics"
></app-statistic-chart>

<div class="w-full flex justify-center">
	<table class="w-8/12 mt-10 table-auto border-white border-2">
		<tr class="text-slate-700">
			<th class="font-medium p-2 border border-gray-300">Count</th>
			<th class="font-medium p-2 border border-gray-300">Comment</th>
			<th class="font-medium p-2 border border-gray-300">Category</th>
			<th class="font-medium p-2 border border-gray-300">Date</th>
		</tr>
		<tr
			*ngFor="let record of statistics"
			class="table-row text-slate-600 relative transition-opacity"
		>
			<td class="p-3 border border-gray-300 font-medium">{{ record.count }}</td>
			<td class="p-3 border border-gray-300">{{ record.comment }}</td>
			<td class="p-3 border border-gray-300">
				<div class="flex gap-2 items-center">
					<div
						class="w-4 h-4 rounded-full"
						[style]="{ background: record.category.color.colorHEX }"
					></div>
					{{ record.category.name }}
				</div>
			</td>

			<td class="p-3 border border-gray-300">
				{{ record.date | date : 'MMM d, h:mm:ss a' }}
				<div class="inline text-gray-400">
					{{ record.date | date : 'y' }}
				</div>
			</td>
		</tr>
	</table>
</div>
