<div class="w-6/12 mx-auto">
	<div class="relative mt-10">
		<div class="flex gap-x-4">
			<div
				class=""
				appClickedOutside
				(clickedOutside)="closeWithCheck()"
				appKeydown
				(escapePress)="closeWithCheck()"
			>
				<counter-outline-button (buttonClick)="toggleAddForm()">
					Add new category
				</counter-outline-button>

				<counter-categories-form
					*ngIf="isAddFormOpened"
					(onSubmit)="addNewCategory($event)"
				></counter-categories-form>
			</div>

			<counter-load-status-button
				(buttonClick)="reloadCategories(true)"
				[status]="currentStatus"
			></counter-load-status-button>
		</div>
	</div>

	<counter-categories-table class="w-full"></counter-categories-table>
</div>
