<table
	class="w-full mt-4 table-auto border-white border-2"
	*ngIf="categories"
>
	<tr class="text-slate-700">
		<th
			class="font-medium p-2 border border-gray-300"
			title="Color"
		>
			<counter-categories-table-color-head-item></counter-categories-table-color-head-item>
		</th>
		<th class="font-medium p-2 border border-gray-300">Name</th>
		<th class="font-medium p-2 border border-gray-300">Comment</th>
	</tr>
	<tr
		class="table-row text-slate-600 relative transition-opacity"
		*ngFor="let category of sortedByOrderCategories"
	>
		<td class="px-4 py-2 border border-gray-300">
			<div class="flex gap-x-3 items-center justify-center capitalize">
				<div
					class="w-4 h-4 rounded-full"
					[style]="{ background: category.color.colorHEX }"
				></div>
			</div>
		</td>
		<td class="px-4 py-2 border border-gray-300">
			<counter-not-sync-status-icon
				[status]="category.status"
			></counter-not-sync-status-icon>

			<counter-categories-table-controls
				class="table-row--contol-buttons opacity-0 transition-all duration-100 ease-out"
				[class.opacity-100]="category._id === editCategoryId"
				(delete)="deleteCategory(category)"
				(edit)="editCategory(category)"
				[editActive]="category._id === editCategoryId"
			></counter-categories-table-controls>

			<div class="break-all">
				{{ category.name }}
			</div>
		</td>
		<td class="px-4 py-2 border border-gray-300">
			<div class="break-all">
				{{ category.comment }}
			</div>
		</td>
	</tr>
</table>
