<input
	*ngIf="choicedCategory == null || choicedCategory.mode === 'number'"
	id="add-form-count"
	class="rounded-tl-md border border-gray-400 text-gray-600 h-full w-full px-5 text-xl"
	type="number"
	[disabled]="disabled"
	[(ngModel)]="numberValue"
	(ngModelChange)="onNumberValueChange()"
/>

<input
	*ngIf="choicedCategory !== null && choicedCategory.mode === 'time'"
	id="add-form-count"
	class="rounded-tl-md border border-gray-400 text-gray-600 h-full w-full px-5 text-lg"
	type="time"
	[disabled]="disabled"
	[(ngModel)]="timeValue"
/>
