::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-white;
}

::-webkit-scrollbar-thumb {
	min-height: 40px;

	@apply bg-red-400 rounded-full;

	border: 2px solid transparent;
	background-clip: padding-box;

	&:hover {
		@apply border-0;
	}
}
