<div
	class="absolute -left-5 mt-2 px-2 py-1 flex flex-col bg-white border border-gray-400 rounded w-[440px] max-h-[400px]"
	*ngIf="categories"
	(click)="stopPropagination($event)"
>
	<header class="px-2 pt-2 pb-1">
		<input
			(keydown.enter)="$event.preventDefault()"
			class="w-full py-2 px-4 rounded-md bg-slate-100 placeholder:text-slate-500"
			type="text"
			placeholder="Search"
			[(ngModel)]="searchValue"
		/>
	</header>

	<counter-category-select-dropdown-divider></counter-category-select-dropdown-divider>

	<div class="flex gap-x-2">
		<button
			type="button"
			class="px-3 py-1 rounded"
			(click)="setActiveTab('category')"
			[ngClass]="{
				'bg-sky-200': activeTab === 'category'
			}"
		>
			Category
		</button>
		<button
			type="button"
			class="px-3 py-1 rounded"
			(click)="setActiveTab('group')"
			[ngClass]="{
				'bg-sky-200': activeTab === 'group'
			}"
		>
			Group
		</button>
	</div>

	<!-- counter-category-select-dropdown-body -->
	<div class="py-2 overflow-y-auto flex flex-col gap-y-[2px]">
		<div
			*ngIf="activeTab === 'group'"
			class=""
		>
			<div
				class=""
				*ngFor="let category of testGroups | keyvalue : mySortingFunction"
			>
				<div
					class=""
					*ngIf="category.key !== ''"
				>
					<button
						type="button"
						class="w-full flex justify-start items-center gap-x-2"
						(click)="toggleGroupOpened(categoryGroupsLocal[category.key])"
					>
						<svg-icon
							class="w-3 h-3"
							[class.rotate-90]="categoryGroupsLocal[category.key].opened"
							src="assets/icons/soft-arrow.svg"
						></svg-icon>

						<div
							class="my-1 px-2 py-1 rounded inline-block"
							[style]="{
								background:
									categoryGroupsLocal[category.key].color.colorHEX + '4C',
								color: categoryGroupsLocal[category.key].color.colorHEX
							}"
						>
							<div class="brightness-50">
								{{ categoryGroupsLocal[category.key].name }}
							</div>
						</div>
					</button>

					<div
						class="ml-3"
						*ngIf="categoryGroupsLocal[category.key].opened"
					>
						<counter-category-select-dropdown-category-item
							class="text-sm"
							*ngFor="let innerCategory of category.value"
							[category]="innerCategory"
							[choiced]="currentCategory?._id === innerCategory._id"
							[searchValue]="searchValue"
							(itemClick)="onItemClick($event)"
						></counter-category-select-dropdown-category-item>
					</div>
				</div>

				<div
					class="mt-2"
					*ngIf="category.key === ''"
				>
					<counter-category-select-dropdown-category-item
						*ngFor="let innerCategory of category.value"
						[category]="innerCategory"
						[choiced]="currentCategory?._id === innerCategory._id"
						[searchValue]="searchValue"
						(itemClick)="onItemClick($event)"
					></counter-category-select-dropdown-category-item>
				</div>
			</div>

			<!-- <div
			class=""
			*ngFor="let group of categoryGroups"
		>
			{{ group.name }}
			
		</div> -->
		</div>

		<div
			class=""
			*ngIf="categoriesList && activeTab === 'category'"
		>
			<counter-category-select-dropdown-category-item
				*ngFor="let category of categoriesList"
				[category]="category"
				[choiced]="currentCategory?._id === category._id"
				[searchValue]="searchValue"
				(itemClick)="onItemClick($event)"
			></counter-category-select-dropdown-category-item>
		</div>
	</div>

	<div
		*ngIf="categoriesList === null"
		class="p-2"
	>
		Not found
	</div>

	<counter-category-select-dropdown-divider></counter-category-select-dropdown-divider>
	<counter-category-select-dropdown-footer></counter-category-select-dropdown-footer>
</div>
