<!-- <app-loader *ngIf="!initialize"></app-loader>

<main
	*ngIf="initialize"
	class="max-w-[1440px] m-auto h-screen flex flex-col"
>
	<app-header [userInfo]="userData"></app-header>
	<main class="flex-grow">
		<router-outlet></router-outlet>
	</main>
	<app-footer></app-footer>
</main> -->


<div class="w-full h-full flex items-center justify-center">
	<div class="px-4 py-2 mb-10">
		<div class="text-3xl text-slate-700">Project has been migrated to 

		<a class="text-orange-400 hover:text-sky-400" href="https://lapricot.vercel.app" alt="Lapricot">Lapricot</a>
	</div>
	</div>
</div>