<footer class="w-full relative">
	<button
		class="py-1 px-2 w-full rounded-md text-base hover:bg-slate-200 transition-colors duration-150 flex gap-x-1 justify-center items-center fill-slate-400 hover:fill-sky-500"
		type="button"
		(click)="toggleAddForm()"
		[class.bg-slate-200]="isAddFormOpened"
		[class.fill-sky-500]="isAddFormOpened"
	>
		<svg-icon
			class="inline-block w-6 h-6 fill-inherit"
			src="assets/icons/plus.svg"
		></svg-icon>
		Add new category
	</button>

	<counter-categories-form
		*ngIf="isAddFormOpened"
		(onSubmit)="addNewCategory($event)"
	></counter-categories-form>
</footer>
